# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [8]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [9]:
tuple=[('apple','banana','cherry')]

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [11]:
numbers = [10, 20, 30, 40]
nubers2=type(numbers)
nubers2

list

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [ ]:
cont=elements('1,2,3,4,5')

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [ ]:
dictionary ='student' 20
name ='moute'
age=20
grade="a"
values='alice'

In [ ]:
---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [4]:
list=[10,20,30,40,50]
list

[10, 20, 30, 40, 50]

In [ ]:
-

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [6]:
fruits=["appele","banana","cherry","orange"]
fruits="mango"

In [ ]:
---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [24]:
number={1,2,3,4,5}
number.add(6)
number

{1, 2, 3, 4, 5, 6}

In [ ]:
---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

person={"name":"john Boy","age":25,"city":"new york"}
print("avant suppression:",person)

In [ ]:
---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [1]:
numbers_rang=range(0,10)

In [ ]:
### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [3]:
squares=[x**2 for x in range(1,11)]

In [ ]:
### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [4]:
even_numbers=tuple(x for x in range(2,11,2))

In [ ]:
### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [7]:
fruits=["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

number={1,2,3,4,5}
contrains_3:3 in numbers

In [ ]:
### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

number=(1,2,3,4,5)
length=3 in numbers

number = (10,20,30)
    length = len (numbers)

In [ ]:
### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [1]:
scores=[80,85,90,95]
scores.append(100)

In [ ]:
### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [3]:
def sum_list(lst):
    return

In [ ]:
### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [4]:
numbers=[1,2,2,3,4,4,5,]
unique_numbers= set(numbers)

In [ ]:
### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [5]:
text="hello"
char_list=list(text)

In [ ]:
### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [6]:
def reverse_truple(t):
    return t[::-1]

In [ ]:
### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [7]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
merged_dict={**dict1,**dict2}

In [ ]:
### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

In [9]:
squarer_dict={x:x**2 for x in range(1,6)}

In [ ]:
### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [10]:
person={"name":"alice","age":25,"city":"new york"}
for key,value in person.items():
    print(f"{key}:{value}")

name:alice
age:25
city:new york

In [ ]:
### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

number=[10,20,30,40,50]
index=numbers.index(50)

In [ ]:
### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [ ]:
### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [ ]:
### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [22]:
name=["Alice","Bob","Charlin","David"]
name.sort()

In [ ]:
### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [23]:
def find_largest(lst):
    return max(lst)

In [ ]:
### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [ ]:
### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [ ]:
### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [33]:
def remove_duplicates(lst):
    return list(lst)

In [ ]:
### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [34]:
def intersection(list1,liste2):
    return list(set(list1) & set(list2))

In [ ]:
### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [35]:
def squarer_generator():
    for i in range(1,11):
        yield i**2

In [ ]:
### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [36]:
def sum_dict_values(d):
    return sum(d.values())

In [ ]:
### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [37]:
numbers=[3,1,4,1,5,9]
sorted_numbers=sorted(numbers)

In [ ]:
### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [38]:
def longest_string(strings):
    return max(strings,key=len)

In [ ]:
### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [39]:
number=[1,2,3,4,5]
all_positive=all(x > 0 for x in numbers)

In [ ]:
### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [40]:
number_squares=[(x,x**2) for x in range(1,6)]

In [ ]:
### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [43]:
def get_second_elements(tuples_list):
    return[t[1]for t in tuples_list]

In [ ]:
### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [44]:
def flatten_list(nested_list):
    result=[]
    for item in nested_list:
        if isintence(item,list):
            result.extend(flatten_list(item))
        else:
            result.append(item)
            return result

In [ ]:
### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [7]:
fruits =["apple","banana","cherry"]
for index,fruit in enumerate(fruits):
    print(f"{index}:{fruit}")

0:apple
1:banana
2:cherry

In [ ]:
### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [1]:
def is_tuple_empty(t):
    return len(t)==0

In [ ]:
### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [2]:
even_numbers=list(range(2,21,2))

In [ ]:
### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [3]:
def reverse_list(lst):
    return lst[::-1]

In [ ]:
### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [4]:
cubes_dict={x: x**3 for x in range(1,6)}

In [ ]:
### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [10]:
number=[1,2,3,4,4,5]
unique_numbers=list(set(numbers))

NameError: name 'numbers' is not defined

In [ ]:
### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [ ]:
def get_values_by_key(dict_list,key)
return[d.get(key)for d in dict_l]

In [ ]:
### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [13]:
def fibonacci_generator(n):
    a,b = 0,1
    for-in range (n):
        yield a 
        a,b = b,a,b

SyntaxError: invalid syntax (1231067555.py, line 3)

In [ ]:
### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [5]:
def unique_characters(text):
    return list(set(text))

In [ ]:
### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [8]:
def merge_sorted_lists(list1,list2):
    return sorted(list1+list2)

In [ ]:
### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [11]:
numbers=[1,2,3,4,5,6]
even_numbers=list(filter(lambda x:x%2==0,numbers))

In [ ]:
### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [15]:
tuples_list=[(1,2),(3,4),(5,6)]
result_dict=dict(tuples_list)

In [ ]:
### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

In [16]:
def symmetric_difference(set1,set2):
    return set1^set2

In [ ]:
### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [17]:
def common_elements_thee(list1,list2,list3):
    return list(set(list1)&set(list2)&set(list3))

In [ ]:
### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [22]:
def factorial (n)
 if n = = 0 or n = =1:
    return1
    return n*factorial(n-1)

SyntaxError: expected ':' (3645591839.py, line 1)

In [ ]:
### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

strings=["apple","","banana","","cherry"]
     non_empty=list(fitter(none,strings))

In [ ]:
### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [29]:
def swap_dict_values(d):
    return{v:k for k,v in d.items()}

In [ ]:
### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [31]:
def fitter_even_numbers(numbers):
    return[x for x in numbers if x % 2==0]

In [ ]:
### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [34]:
def get_first_elements(tuples_list):
    returne[t[0]for t in tuples_list]

SyntaxError: invalid syntax (4235510877.py, line 2)

In [ ]:
### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [36]:
def remove_duplicates_preserve_order(lst):
    seen=set()
    result=[]
    for item in lst:
        if item not in seen:
            seen.add(item)
            result apprend(item)
            return result

SyntaxError: invalid syntax (2467739888.py, line 7)

In [ ]:
### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [39]:
strings=["apple", "banana","cherry"]
  lengths=list(map(1en,strings))

IndentationError: unexpected indent (514836382.py, line 2)

In [ ]:
### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [44]:
def calculate_average(numbers):
    return sum(numbers)/ 1 en(numbers)

SyntaxError: invalid syntax (2734179109.py, line 2)

In [ ]:
### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [45]:
def fibonacci_list(n):
    fib=[0,1]
    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
        return

In [ ]:
### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [47]:
fruit=["apple","banana","apple","cherry"]
       from collections import counter
       count=counter(fruits)

IndentationError: unexpected indent (905730505.py, line 2)

In [ ]:
### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [49]:
def remove_value(lst,value):
    return[x for x in lst if x !=value]

In [ ]:
### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [51]:
def starts_with_vowel(strings):
    vowels=aeiou'
    return[s for s in strings if s and s[0]in vowels]

SyntaxError: unterminated string literal (detected at line 2) (2854557101.py, line 2)

In [ ]:
### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [52]:
def set_intersection(set1,set2):
    return set1&sets

In [ ]:
### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

def flatten_nested_list(nested_list):
    result=[]
    for item in nested_list:
        if is instance(item list):
            result. extend(flatren_nested_list(item))
            else=
            result.append(item)
            return result

In [ ]:
### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [3]:
def all_unique(lst):
    return len(lst)==len(set(lst))

In [ ]:
### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [5]:
from functools import reduce
numbers=[1,2,3,4,5]
product=reduce(lambda x,y:x*y,numbers)

In [ ]:
### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [6]:
def strings_to_length_dict(strings):
    return{s:len(s)for s in strings}

In [ ]:
### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [9]:
def count_vowels(text):
    vowels='aeiou AEIOU'

In [ ]:
### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [1]:
def factorial_tuple_list(n):
    return[(i,factorial(i))for i in range(1,n+1)]

In [ ]:
### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [2]:
def merge_dicts(dict_list):
    result={}
    for d in dict_list:
        result.update(d)
        return result

In [ ]:
### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [1]:
def is_subset(set 1,set 2):
    return set 1.issubset(set 2)

SyntaxError: invalid syntax (2588906591.py, line 1)

In [ ]:
### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [10]:
def sort_by_second_element(tuples_list):
    return sorted(tuples_list,key=lambda x:x[1])

In [ ]:
### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [11]:
def filter_positive_numbers(numbers):
    return[x for x in number if x >0]

In [ ]:
### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [12]:
def set_union(set1,set2):
    return set1/set2

In [ ]:
### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [20]:
def product_of_numbers(numbers):
    result=1
    for num in numbers:
       result*=num
    return result

In [ ]:
### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [23]:
def list_to_string(char_list):
    return''.join(char_list)

In [ ]:
### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [24]:
def second_largest(numbers):
    unique_numbers=sorled(set(numbers),reverse=true)
    return unique_unique[1]if len(unique_numbers)>1 else none

In [ ]:
### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [25]:
def sorted_dict_keys(d):
    return sorted(d.keys0)

In [ ]:
### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [27]:
def most_common_element(lst):
    from collections import counter
    return counter(lst).most_common(1)[0][0]

In [ ]:
### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [28]:
def sort_tuples_by_first(tuples_list):
    return sorted(tuples_list,key=lambda x:x[0])

In [ ]:
### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [30]:
def remove_duplicate_dicts(dict_list):
    seen=set()
    result=[]
    for d in dict_list:
        t= tuple(sorted(d.items()))
        if t not in seen:
            seenadd(t)
            result.append(d)
            return result

In [ ]:
### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [31]:
def min_max(numbers):
    return min(numbers),max(numbers)

In [ ]:
### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [32]:
def zip_list(list1,list2):
    return list(zip(list1,list2))

In [ ]:
### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [33]:
def reverse_strings_list(strings):
    return[s[::-1]for s in strings]

In [ ]:
### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [34]:
def sum_add_numbers(numbers):
    return sum(x for x in numbers if x%2!=0)

In [ ]:
### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [35]:
def is_palindrome(text):
    return text==text[::-1]

In [ ]:
### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [36]:
def find_median(numbers):
    sorted_numbers=sorted(numbers)
    n=len(sorted_numbers)
    if n % 2==0:
        return(sorted_numbers[n//2-1]+sorted_numbers[n//2])/2
    else:
        return sorted_numbers[n//2]

In [ ]:
### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [37]:
def sum_dict_values_by_key(dict_list):
    result={}
    for d in dict_list:
        for key,value in d.items():
            result[key]=result.get(key,0)+value
            return

In [ ]:
### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [38]:
def find_mode(numbers):
    from collections import counter
    count=counter(numbers)
    return count.most_common(1)[0][0]

In [ ]:
### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [39]:
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

In [ ]:
### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [43]:
def number_cube_tuples(n):
 return[(x,x**3)for x in range(1,n + 1)]

In [ ]:
### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [44]:
def is_prime(n):
    if n<2:
        return false
    for i in range(2,int(n**0,5)+1):
        if n % i ==0:
            return false
        return true
    def prime_up_to_n(n):
        return[x for x in range(2,n+1)if is_prime(x)]

In [ ]:
### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [1]:
def common_keys(dict1,dict2):
    return set(dict1.keys())& set(dict2.keys())

In [ ]:
### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

In [2]:
def long_trings(strings):
    return[s for s in strings if len(s)>5]

In [ ]:
### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [3]:
def stings_with_length(strings):
    return[(s,len(s))for s in strings]

In [ ]:
### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [1]:
def sum_dict_value_across(dict_list):
    result={}
    for d in dict_list:
        for key,value in d.items():
            result[key]=result.get(key,0)+value
            return result