

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

In [1]:
x=10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

In [3]:
is_valid="true"

### Exercise 3:Creat
create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```
---

In [4]:
name="python programming"

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [5]:
sum_result=5,+3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [6]:
a=5
b=10
c=15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [7]:
valid='x''y'

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

In [8]:
valid='gravity''9','8'

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [9]:
valid='country'

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [10]:
valid='age','25','26'

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [14]:
valid= 20-7

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [15]:
valid=8

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [16]:
 x=10

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [17]:
valid='x','y'

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [18]:
complex_num=3+4j

---complex

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [20]:
ma_variable=10

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [1]:
frist_name = 'jean'
last_name = 'MOUTE'

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [6]:
valid ='temp''35.5'

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [8]:
num='8*6'

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [9]:
valid='sentence'

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [14]:
conv=50*(4)

---

### Exercise 21:

```python
# Exercise 21
```

In [ ]:
res = 144/12
res

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22

In [2]:
remainder = 47%5
remainder

2

```

### 

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [4]:
is_student = True
is_student

True

In [ ]:
---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [5]:
res = 45%4
res

1

In [ ]:
---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [6]:
pi = 3.14159

In [ ]:
---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [9]:
length = 5
width =4
area = (length + width)*2
area

18

In [ ]:
---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [11]:
negative_value = -5

In [ ]:
---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [13]:
string ="hello,world!"
print(string)

hello,world!

# Exercise 29
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

``

In [14]:
population = 123456789
population

123456789

# Exercise 30
```

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
`

In [16]:
power =2**8
power

256

In [ ]:
---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [18]:
fruits = ['Banana','Mangoes','Apple','Orange']
fruits

['Banana', 'Mangoes', 'Apple', 'Orange']

In [ ]:
---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
`

In [19]:
coordinates = (2,3)
coordinates

(2, 3)

In [ ]:
---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [20]:
person ={"name":"age"}
person

{'name': 'age'}

In [ ]:
---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [21]:
sum_floating = 10.5 +11.4
sum_floating

21.9

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35

In [22]:
is_sunny = 10 >5
is_sunny

True

In [ ]:
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36

In [23]:
string = "I am"
age = str(25)
res =string+""+age
print(res)

I am25

In [28]:
### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

# Exercise 37
is_weekend = False

SyntaxError: invalid syntax (407694191.py, line 2)

In [ ]:
---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38

In [29]:
is_weekend = False

In [ ]:
---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39

In [30]:
description ="""My name is jean 0
I come from benin"""
print(description)

My name is jean 0
I come from benin

In [ ]:
---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40

In [31]:
res = abs(-25)
res

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41

In [34]:
floor_div_result = 100//6
floor_div_result

16

In [ ]:
---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [35]:
a =3.5
mixed_sum = int(a)
mixed_sum

3

In [ ]:
### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [36]:
string = "I am "+str(25)+"years old"
string

'I am 25years old'

In [ ]:
---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

In [37]:
empty_list =[]
empty_list

[]

In [ ]:
### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [38]:
a = 10
b = 15
boolean = a==b
boolean

False

In [ ]:
---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [41]:
count_sent = "My name is Jean O.I come from Centre Africa"
len(count_sent)

43

In [ ]:
---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [42]:
division_result = 7/3
division_result

2.3333333333333335

In [ ]:
---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [43]:
speed = "100 km/h"
print(speed)

100 km/h

In [45]:
x = 4
y =3*x + 5

In [46]:
a = 1
b = 2
c = 1
avg = (a+b+c)*0.5
avg

2.0